// Stores all the colors used throughout the app

// $background-color-primary: white;
// $background-color-secondary: #F3EFE0;
// $background-color-footer: black;
// $background-color-navbar: black;

// $big-heading-color: black;
// $sub-heading-color: black;
// $body-text-color: black;
// $navbar-links-color: white;
// $link-color: #26A39F;
// $hover-color: $link-color;
// $small-heading-color:$link-color;
// $sub-small-heading-color: gold;

// $image-border-color: #26a39f;
// $hamburger-menu-color: whitesmoke;

// Originals
// Stores all the colors used throughout the app

$background-color-primary: #212a3b;
$background-color-secondary: #28334A;
$background-color-footer: black;
$background-color-navbar: black;

$big-heading-color: whitesmoke;
$sub-heading-color: whitesmoke;
$body-text-color: whitesmoke;
$navbar-links-color: whitesmoke;
$link-color: #61dafb;
$hover-color: #61dafb;
$small-heading-color:#61dafb;
$sub-small-heading-color: gold;

$image-border-color: whitesmoke;
$hamburger-menu-color: whitesmoke;