@import 'res/styles/colors';

.about {

}

#aboutMeImg {
    border-radius: 50%;
    width: 215px;
    margin: 30px;
    border: 1px $image-border-color solid;
}


.limited {
    max-width: 700px;
}

@media (max-width: 700px) {
    // .text {
    //     width: 85%;
    // }
}